.App {
  text-align: center;
}

.title {
  text-align: center;
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

#licensing {
  fill: green;
}

.link.licensing {
  stroke: green;
}

.link.resolved {
  stroke-dasharray: 2;
}

/* circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
} */

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.rv-force__interactive .rv-force__node {
  cursor: pointer;
}

.rv-force__label {
  pointer-events: none;
}

.rv-force__label::selection {
  background: none;
}

.rv-force__node, .rv-force__link, .rv-force__label {
  transition: opacity 250ms, color 250ms;
}



/* collapsible css */

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
