
.test {
  fill: #fff;
}

#pieChart {
  color: #fff;
}

.App {
  text-align: center;
}

.middleman {
  font-style: italic;
  text-align: center;
  font-weight: bold;
}

.title {
  text-align: center;
  font-style: italic;
}

.link {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
}

#licensing {
  fill: green;
}

.link.licensing {
  stroke: green;
}

.link.resolved {
  stroke-dasharray: 2;
}

/* circle {
  fill: rgb(174, 199, 232);
  stroke: #333;
  stroke-width: 1.5px;
} */

.xAxis {
  fill: #fff;
}

.yAxis {
  fill: #fff;
}

text {
  font: 12px sans-serif;
  pointer-events: none;
  color: black;
  /* text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff; */
}

.rv-force__interactive .rv-force__node {
  cursor: pointer;
}

.rv-force__label {
  pointer-events: none;
  color: #fff;
}

.rv-force__label::selection {
  background: none;
}

.rv-force__node, .rv-force__link, .rv-force__label {
  transition: opacity 250ms, color 250ms;
}



/* collapsible css */

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
  color: #fff;
}

.link {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
}

body {
  background-color: #778899;
  color: #fff; 
  font-family: Arial, Helvetica, sans-serif;
}

.dashboard {
  display: flex;
  justify-content: center;
}

.graphcontainer {
  justify-content: center;
}

#main {
  display: flex;
  justify-content: center;
}
